<footer class="page-footer font-small mdb-color pt-4 text-center">
  <div class="container">
    <div class="row ">

      <!-- ====== Faculty ====== -->

      <div class="col-sm-4">
        <h4><strong>Our Faculties</strong></h4>
        <ul>
          <li>
            Daulat Ram: Web designing
          </li>

          <li>
            Arun Pratap Singh: Tally ERP-9
          </li>

          <li>
            Sachin Kumar Suman: Basics of computer
          </li>

          <li>
            Somnath: Manager
          </li>

          <li>
            Rashmi Yadav: Receptionist
          </li>

          <li>
            Daulat Ram: Junior Manager
          </li>

          <li>
            Sachin Kumar Suman: Field Office
          </li>
        </ul>
      </div>


      <!-- ======= Navbar ======= -->
      <div class="col-sm-4">
        <h4><strong>Navigate</strong></h4>

        <ul>
          <li class="nav-item">
            <a class="nav-link text-white" href="/">Courses</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Explore
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <!-- <a class="dropdown-item" href="general-awareness">General Awareness</a> -->
              <a class="dropdown-item" href="free-resources">Free Resources</a>
              <a class="dropdown-item" href="mock-test">Mock Test</a>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link text-white" href="/">About Us</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-white" href="/">Contact Us</a>
          </li>

        </ul>

        <div class="icon mb-3" style="color: white;">
          <h3>Connect With Us</h3>
          <a target="_blank" href="https://www.facebook.com/"><i class="fa fa-2x fa-facebook-square"></i></a>
          <a target="_blank" href="https://www.instagram.com/"><i class="fa fa-2x fa-instagram"></i></a>
          <a target="_blank" href="https://www.linkedin.com/in/"><i class="fa fa-2x fa-linkedin"></i></a>
          <a target="_blank" href="https://www.youtube.com/"><i class="fa fa-2x fa-youtube"></i></a>
          <a target="_blank" href="https://twitter.com/"><i class="fa fa-2x fa-twitter"></i></a>
        </div>
      </div>

      <!-- ======= Google maps ====== -->

      <div class="col-sm-4 text-center m-auto d-block">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7080.812449388428!2d77.67505494405872!3d27.456609951618365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x397376c62cb8c1fb%3A0xed3aa0155b3d2979!2sVirzapur%2C%20Mathura%2C%20Uttar%20Pradesh%20281006!5e0!3m2!1sen!2sin!4v1598858699630!5m2!1sen!2sin"
          height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
        </iframe>
      </div>
    </div>
  </div>

  <br>

  <div class="container">
    <div class="row">

      <div class="col-sm-6 text-center m-auto d-block">
        <h5 style="color: white;">© 2020 Copyright: All rights reserved.</h5>
      </div>

      <div class="col-sm-6 text-center m-auto d-block">
        <a href="#" style="color: white;" data-toggle="modal" data-target="#developers">Developers Contact |</a>
        <a href="#" style="color: white;" data-toggle="modal" data-target="#termsCondition">Terms & Conditions</a>
      </div>

    </div>
  </div>
</footer>



<!--========= Privacy and Policy Modal ========-->

<div class="modal fade" id="developers" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Developers Contact</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="teekam-singh">
          <h5>Teekam Singh</h5>
          <strong>E-mail: </strong><a href = "mailto: teekams10999@gmail.com">teekams10999@gmail.com</a><br>
          <a href="https://singhteekam.herokuapp.com/" target="_blank">Portfolio Link 1</a> ||
          <a href="https://singhteekam.github.io/Portfolio/#/" target="_blank">Portfolio Link 2</a>
        </div>
      <hr>
        <div class="tauheed-shahd">
          <h5>Tauheed Shahid</h5>
          <strong>E-mail: </strong><a href = "mailto: tauheedshahid@gmail.com">tauheedshahid@gmail.com</a><br>
          <a href="https://tauheed-shahid.herokuapp.com/" target="_blank">Portfolio Link</a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!--========= Terms and Condition Modal ========-->

<div class="modal fade" id="termsCondition" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Terms and Condition</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        We will provide you our best services under terms.
        You can pay after 2 days  of demo classes. <br>
        If you exit in between any course in that case your half money will get refund.
        During course term you have to attend course of 80 in classes present attention.
        Your behaviour should good. If your behaviour is not good, in that case institute will dicard your course.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="javascript.js"></script>

</body>

</html>