<%- include('partials/header') %>

  <!-- ========== Section Begins ========== -->
  
<section class="sec">
    <div class="courseheading container mt-5 text-center">
        <h3 class="text-capitalize" style="font-family: 'ubuntu';">basic computer course(BCC) <br> duration: 03 Months</h3>
        <h6><i class="fa fa-circle"></i>Start from Basics, become a BCC Master!<i class="fa fa-circle"></i></h6>
      </div>
      <br>

      <h2 class="card-title text-center">Course Outcome</h2>

      <div class="container">
        <ul class="card-text">
            <li class="text-capitalize">Computer Concept & Fundamentals</li>
            <li class="text-capitalize">Microsoft Windows(XP/7)</li>
            <li class="text-capitalize">MS-Office:(2007/2010) MS-Excel,MS-Word,MS-Power Point,MS-Picture Manager</li>
            <li class="text-capitalize">Notepad</li>
            <li class="text-capitalize">Wordpad</li>
            <li class="text-capitalize">Paint</li>
            <li class="text-capitalize">E-Mailing</li>
            <li class="text-capitalize">DBMS</li>
            <li class="text-capitalize">Practicles with theory, total Rs 2000/- </li>
          </ul>

        
          <div class="text-center">
            <a href="/registration-form"  class="btn text-center cardbutton btn-primary">Register</a>
          </div>
      </div>
      

</section>
   
<a href="#" class="to-top">
  <i class="fa fa-chevron-up"></i>
</a> 

  
<br><br>

<%- include('partials/footer') %>