

<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="icon" href="/logo.png">
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="/bootstrap-social.css">
  <title>SEI</title>
</head>

<body onload="myFunc()">
    
  <div class="loader_bg">
      <div class="loader"></div>
    </div>

    <!-- ======================== Navbar ======================= -->

    <div id="home">
  <nav class="navbar navbar-expand-md navbar-dark">
      <a href="#"><img src="/logo.png" alt=""></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
        
            <li class="nav-item active">
                <a class="nav-link navhover text-white ml-3" href="/admin-panel1">Pending Forms <span class="sr-only">(current)</span></a>
              </li>
      
              <li class="nav-item active">
                <a class="nav-link navhover text-white ml-3" href="/admin-panel2">Registered Students</a>
              </li>
            <li class="nav-item active">
                <a class="nav-link navhover text-white ml-3" href="/changeAdminPassword">Change Password</a>
            </li>
        <li class="nav-item active">
            <a class="nav-link navhover text-white ml-3" href="/logout">Logout</a>
        </li>

    </div>
</nav>
</div>



  <!-- ============ Section begins for login Form ============= -->
  <section class="sec">
    <div class="container mt-5" id="commentForm" style="font-family: 'Baloo Da 2'; ">
      <div class="card">
        <div class="card-header text-center">
          <h4><strong>Change Password</strong></h4>
        </div>
        <div class="card-body">
          <form action="/changeAdminPass2" method="POST">

              <div class="form-group">
                <label for="currentPassword">Current Password</label>
                <input type="password" class="form-control" id="email" placeholder="Enter your current password" name="currentPass">
                <!-- <small id="password" class="form-text text-muted invalid-feedback">
                  Your email must be a valid email
                </small> -->
              </div>

              <div class="form-group">
                <label for="currentPassword">New Password</label>
                <input type="password" class="form-control" id="password" placeholder="Enter your New password" name="newPass">
                <!-- <small id="password" class="form-text text-muted invalid-feedback">
                  Your email must be a valid email
                </small> -->
              </div>

              <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" class="form-control" id="password" placeholder="Confirm password" name="confirmNewPass">
                <!-- <small id="password" class="form-text text-muted invalid-feedback">
                  Your password must be a valid 
                </small> -->
              </div>
              <div class="card-footer mr-auto">
                <button class="btn cardbutton btn-primary" type="submit">Submit</button>
              </div>

          </form>

        </div>
      </div>
    </div>

  </section>
  <br><br>

  <a href="#" class="to-top">
    <i class="fa fa-chevron-up"></i>
  </a>

<%- include('partials/footer') %>