<%- include('partials/header') %>

<!-- ========== Section Begins ========== -->

<section class="sec mt-5 mb-5">
  <h2 class="card-title text-center">Free Resources</h2>

  <div class="container">
    <ul class="card-text">
      <li class="text-capitalize">Basic notes <a target="_blank" href="https://drive.google.com/file/d/1hiKedIRROnmj__mm74ar9e7Udt_O3Jxr/view?usp=sharing">click here...</a></li>
      <li class="text-capitalize">Pimary computer notes <a target="_blank" href="https://drive.google.com/file/d/13G5tX1RQ3rQE0VJChoouh-0PO-6906uO/view?usp=sharing">click here...</a></li>
      <li class="text-capitalize">Compter generation notes <a target="_blank" href="https://drive.google.com/file/d/1HbRbDsiYkkARAbd2sJYU0xN3QY-Kv3ca/view?usp=sharing">click here...</a></li>
      <li class="text-capitalize">Database notes <a target="_blank" href="https://drive.google.com/file/d/1uTDgbCkK5C95Dm8mCJfBTE6-dLYLBdds/view?usp=sharing">click here...</a></li>
      <li class="text-capitalize">Computer shortcut keys <a target="_blank" href="https://drive.google.com/file/d/14hnf-GJaLoSExcG6haf9gvVGBW5l8p4d/view?usp=sharing">click here...</a></li>
      <li class="text-capitalize">MX-Excel 2007 notes <a target="_blank" href="https://drive.google.com/file/d/19uC8Woa8HSPM6yfladUoKpN8IuK6eaX3/view?usp=sharing">click here...</a></li>
      <li class="text-capitalize">MS-Word 2007 notes <a target="_blank" href="https://drive.google.com/file/d/1KSfdYhyUzBbE9olZ-nlnjBTdEPQBYf5S/view?usp=sharing">click here...</a></li>
      <li class="text-capitalize">Oulook 2007 notes <a target="_blank" href="https://drive.google.com/file/d/1HB5vPTqh28hJ-xG2rUjBXYQMKQfDqMd5/view?usp=sharing">click here...</a></li>
      <li class="text-capitalize">MS-Power point notes <a target="_blank" href="https://drive.google.com/file/d/1dKJC1QNlvu_PGOal1cNvTUKcFVr6kdjh/view?usp=sharing">click here...</a></li>
      <li class="text-capitalize">Tally-9 notes <a target="_blank" href="https://drive.google.com/file/d/1lZF-Ff_CpQr9hB-SaIjX8IJUPwBqpNb4/view?usp=sharing">click here...</a></li>
      <li class="text-capitalize">Java notes <a target="_blank" href="https://drive.google.com/file/d/1Slv3pd_M1hWJTq8YCfpXFLaBFZzUjmTn/view?usp=sharing">click here...</a></li>
      <li class="text-capitalize">CSS notes <a target="_blank" href="https://drive.google.com/file/d/1d0P8xsn4s345u_yuemahKTU_f9Iv5ji_/view?usp=sharing">click here...</a></li>
      <li class="text-capitalize">Basics of computer in hindi notes <a target="_blank" href="https://drive.google.com/file/d/1C1bvGAcUqHIKnAx_NhwSMV4dbx4su-0l/view?usp=sharing">click here...</a></li>
      <li class="text-capitalize">Corel draw notes <a target="_blank" href="https://drive.google.com/file/d/1LdOV4XQ9GbxvRPPWRFPyNJFz2ujtbgVo/view?usp=sharing">click here...</a></li>
      <li class="text-capitalize">100 MCQ's with solution <a target="_blank" href="https://drive.google.com/file/d/1QS1sKtq5zokWkFyf8QYF1PhgSrud-vXk/view?usp=sharing">click here...</a></li>
      <li class="text-capitalize">1000 MCQ's with solution <a target="_blank" href="https://drive.google.com/file/d/1EaeJ4b7ipyNZPZx2kKDZuWL5CUp3GSYY/view?usp=sharing">click here...</a></li>
      <li class="text-capitalize">photoshop CS6 notes <a target="_blank" href="https://drive.google.com/file/d/1gUUqItFzvdJoPGr6dy9eWWQaAUG3CBxT/view?usp=sharing">click here...</a></li>
      <li class="text-capitalize">HTML notes <a target="_blank" href="https://drive.google.com/file/d/14i3qFOQJBJQ6VW_UspzhgH7jTrr8Vx4-/view?usp=sharing">click here...</a></li>
      <li class="text-capitalize">All in one notes <a target="_blank" href="https://drive.google.com/file/d/1AmgTM2xujed2fEFUAAB_ptmj_NqEJb7t/view?usp=sharing">click here...</a></li>
    </ul>
  </div>

</section>








  <a href="#" class="to-top">
    <i class="fa fa-chevron-up"></i>
  </a>


<%- include('partials/footer') %>