<%- include('partials/header') %>

<!-- ========== Section Begins ========== -->

  
<section class="sec mt-5 mb-5">
  <h2 class="card-title text-center">General Awareness About Computers</h2>

  


</section>








<a href="#" class="to-top">
    <i class="fa fa-chevron-up"></i>
  </a>

<%- include('partials/footer') %>