<!-- 
  <section class="sec mt-5 mb-5">
    <h2 class="card-title text-center">Free Mock Test</h2>
  </section>

  <a href="#" class="to-top">
    <i class="fa fa-chevron-up"></i>
  </a> -->

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width-device-width" initial-scale="0">
<meta http-equiv="X-UA-Compatible" content="ie-edge">
</head><title>web site</title>
<linl rel="stylesheet" href="css/style.css"></linl>

    <H1>
            <U><H1 ALIGN="CENTER">
            <FONT COLOR="ORANGE">SOMNATH EDUCATION INSTITUTE</FONT><br>
            <FONT COLOR="ORANGE">PAPER TIME : 60 min</FONT><br>
            <!-- <img src="good.png"  width="150"  height="125"></image> -->
             <FONT SIZE="4"></FONT></U>
            </H1>
            <H2>
            <!-- This Script is from www.htmlfreecode.com, Coded by: Krishna Eydat-->
            <center>
            <font face="Arial"><b>TIME <br><br>
            <form>
            <input type="text" size="3" id="timer" name="redirect2" value="5">
            </form>
            seconds</b></font>
            </center>
            
            <script>
                <!--
                
                var targetURL="http://www.htmlfreecode.com"
                
                var currentsecond=1200;
                function countredirect(){
                if (currentsecond!=1){
                currentsecond-=1
                document.getElementById('timer').value=currentsecond;
                }
                else{
                window.location=targetURL;
                return
                }
                setTimeout("countredirect()",1000)
                }
                
                countredirect();
                //-->
                </script>
            <!--webbot bot="HTMLMarkup" endspan --></p>
        </head>
        <body>
            
            
            <font face="Tahoma"><a target="_blank" href="#/"><span style="font-size: 8pt; text-decoration: none"></span></a></font>
            </H2>
            <body>
            
            <center><h1>BASIC COMPUTER</h1></center>
            <center><h1>COMPUTER FUNDAMENTAL Questions :-</h1></center>
            
            <p>
            
            <form name="quiz">
            
            <p>
            
            <b>Question 1.
            
            <br>Q.1. UNIVAC is<br></b>
            
            <blockquote>
            
            <input type="radio" name="q1" value="Universal Automatic Computer">A) Universal Automatic Computer<br>
            
            <input type="radio" name="q1" value="Universal Automatic Computer">B) Universal Array Computer<br>
            
            <input type="radio" name="q1" value="Universal Automatic Computer">C)Unique Automatic Computer<br>
            
            <input type="radio" name="q1" value="Universal Automatic Computer">D) Unvalued Automatic Computer<br>
            
            </blockquote>
            
            <p><b>
            
            <hr>
            
            Question 2.
            
            <br>Q.2. The two major types of computer chips are<br></b>
            
            <blockquote>
            
            <input type="radio" name="q2" value=" Both b and c">A) External memory chip<br>
            
            <input type="radio" name="q2" value=" Both b and c">B) Primary memory chip<br>
            
            <input type="radio" name="q2" value=" Both b and c">C) Microprocessor chip<br>
            
            <input type="radio" name="q2" value=" Both b and c">D) Both b and c<br>
            
            </blockquote>
            
            <p><b>
            
            <hr>
            
            Question 3.
            
            <br>Q.3 Positive or Healthy Criticism MEANS?.<br></b>
            
            <blockquote>
            
            <input type="radio" name="q3" value="All the above">A) Arithmetic operation<br>
            
            <input type="radio" name="q3" value="All the above">B) Logical operation<br>
            
            <input type="radio" name="q3" value="All the above">C) Storage and relative<br>
            
            <input type="radio" name="q3" value="All the above">D) All the above<br>
            
            
            </blockquote>
            
            <p><b>
            
            <hr>
            
            Question 4.
            
            <br>Q.4 Microprocessors as switching devices are for which
            generation computers<br></b>
            
            <blockquote>
            
            <input type="radio" name="q4" value="Fourth Generation">A) First Generation<br>
            
            <input type="radio" name="q4" value="Fourth Generation">B) Second Generation<br>
            
            <input type="radio" name="q4" value="Fourth Generation">C) Third Generation<br>
            
            <input type="radio" name="q4" value="Fourth Generation">D) Fourth Generation<br>
            
            
            </blockquote>
            
            <p><b>
            
            <hr>
            
            Question 5.
            
            <br>Q.5 What is the main difference between a mainframe and a
            super computer<br></b>
            
            <blockquote>
            
            <input type="radio" name="q5" value="Supercomputers are focused to execute few programs as
            fast as possible while mainframe uses its power to execute as
            many programs concurrently"> A) Super computer is much larger than mainframe computers<br>
            
            <input type="radio" name="q5" value="Supercomputers are focused to execute few programs as
            fast as possible while mainframe uses its power to execute as
            many programs concurrently <br>
            
            <input type="radio" name="q5" value="Supercomputers are focused to execute few programs as
            fast as possible while mainframe uses its power to execute as
            many programs concurrently">C) Supercomputers are focused to execute few programs as
            fast as possible while mainframe uses its power to execute as
            many programs concurrently<br>
            
            <input type="radio" name="q5" value="Supercomputers are focused to execute few programs as
            fast as possible while mainframe uses its power to execute as
            many programs concurrently">D) Supercomputers are focused to execute as many programs as possible
            while mainframe uses its power to execute few programs as fast as
            possible.
            6.<br>
            
            </blockquote>
            
            <p><b>
            
            <hr>
            
            Question 6.
            
            <br>Q.6 ASCII and EBCDIC are the popular character coding
            systems. What does EBCDIC stand for<br></b>
            
            <blockquote>
            
            <input type="radio" name="q6" value="Extended Binary Coded Decimal Interchange Code">A) Extended Binary Coded Decimal Interchange Code<br>
            
            <input type="radio" name="q6" value="Extended Binary Coded Decimal Interchange Code">B) Extended Bit Code Decimal Interchange Code<br>
            
            <input type="radio" name="q6" value="Extended Binary Coded Decimal Interchange Code">C) Extended Bit Case Decimal Interchange Code<br>
            
            <input type="radio" name="q6" value="Extended Binary Coded Decimal Interchange Code">D) Extended Binary Case Decimal Interchange Code<br>
            
            
            </blockquote>
            
            <p><b>
            
            Question 7.
            
            <br>Q.7 The brain of any computer system is<br></b>
            
            <blockquote>
            
            <input type="radio" name="q7" value="CPU">A) ALU<br>
            
            <input type="radio" name="q7" value="CPU">B) Memory<br>
            
            <input type="radio" name="q7" value="CPU">C) CPU<br>
            
            <input type="radio" name="q7" value="CPU">D) Control unit<br>
            
            </blockquote>
            
            <p><b>
            
            <hr>
            
            Question 8.
            
            <br>Q.8 Storage capacity of magnetic disk depends on<br></b>
            
            <blockquote>
            
            <input type="radio" name="q8" value="All of above">A) tracks per inch of surface<br>
            
            <input type="radio" name="q8" value="All of above">B) bits per inch of tracks<br>
            
            <input type="radio" name="q8" value="All of above">C) disk pack in disk surface<br>
            
            <input type="radio" name="q8" value="All of above">D) All of above<br>
            
            </blockquote>
            
            <p><b>
            
            <hr>
            
            Question 9.
            
            <br>Q.9 The two kinds of main memory are<br></b>
            
            <blockquote>
            
            <input type="radio" name="q9" value="ROM and RAM">A)Primary and secondary<br>
            
            <input type="radio" name="q9" value="All of above">B) Random and sequential<br>
            
            <input type="radio" name="q9" value="All of above">C) ROM and RAM<br>
            
            <input type="radio" name="q9" value="All of above">D) All of above<br>
            
            </blockquote>
            
            <p><b>
            
            <hr>
            
            Question 10.
            
            <br>Q.10 10. A storage area used to store data to a compensate for the
            difference in speed at which the different units can handle data
            is<br></b>
            
            <blockquote>
            
            <input type="radio" name="q10" value="Buffer">A) Memory<br>
            
            <input type="radio" name="q10" value="Buffer">B) Buffer<br>
            
            <input type="radio" name="q10" value="Buffer">C) Accumulator<br>
            
            <input type="radio" name="q10" value="Buffer">D) Address<br>
            
            
            </blockquote>
            
            <p><b>
            
            <hr>
            
            Question 11.
            
            <br>Q.11 Computer is free from tiresome and boardoom. We call it<br></b>
            
            <blockquote>
            
            <input type="radio" name="q11" value="Diligence">A) Accuracy<br>
            
            <input type="radio" name="q11" value="Diligence">B) Reliability<br>
            
            <input type="radio" name="q11" value="Diligence">C) Diligence<br>
            
            <input type="radio" name="q11" value="Diligence">D) Versatility<br>
            
            
            
            </blockquote>
            
            <p><b>
            
            <hr>
            
            Question 12.
            
            <br>Q.12 Integrated Circuits (Ics) are related to which generation of
            computers<br></b>
            
            <blockquote>
            
            <input type="radio" name="q12" value="Third generation">A) First generation<br>
            
            <input type="radio" name="q12" value="Third generation">B) Second generation<br>
            
            <input type="radio" name="q12" value="Third generation">C) Third generation<br>
            
            <input type="radio" name="q12" value="Third generation">D) Fourth generation<br>
            
            
            
            </blockquote>
            
            <p><b>
            
            <hr>
            
            Question 13.
            
            <br>Q.1313. CD-ROM is a<br></b>
            
            <blockquote>
            
            <input type="radio" name="q13" value="None of above">A) Semiconductor memory<br>
            
            <input type="radio" name="q13" value="None of above">B) Memory register<br>
            
            <input type="radio" name="q13" value="None of above">C) Magnetic memory<br>
            
            <input type="radio" name="q13" value="None of above">D) None of above<br>
            
            
            </blockquote>
            
            <p><b>
            
            <hr>
            
            Question 14.
            
            <br>Q.14 A hybrid computer<br></b>
            
            <blockquote>
            
            <input type="radio" name="q14" value="Resembles both a digital and analogue computer">A) Resembles digital computer<br>
            
            <input type="radio" name="q14" value="Resembles both a digital and analogue computer">B) Resembles analogue computer<br>
            
            <input type="radio" name="q14" value="Resembles both a digital and analogue computer">C) Resembles both a digital and analogue computer<br>
            
            <input type="radio" name="q14" value="Resembles both a digital and analogue computer">D) None of the above<br>
            
            </blockquote>
            
            <p><b>
            
            <hr>
            
            Question 15.
            
            <br>Q.15 Which type of computers uses the 8-bit code called
            EBCDIC?<br></b>
            
            <blockquote>
            
            <input type="radio" name="q15" value="Mainframe computers">A) Minicomputers<br>
            
            <input type="radio" name="q15" value="Mainframe computers">B) Microcomputers<br>
            
            <input type="radio" name="q15" value="Mainframe computers">C) Mainframe computers<br>
         
            <input type="radio" name="q15" value="Mainframe computers">D) Super computer<br>
             </blockquote>
            
            <p><b>
            
            <hr>
            
            Question 16.
            
            <br>Q.16 The ALU of a computer responds to the commands coming
            from<br></b>
            
            <blockquote>
            
            <input type="radio" name="q16" value="Control section"> A) Primary memory<br>
          
            
            <input type="radio" name="q16" value="Control section">B) Control section<BR>
            
            <input type="radio" name="q16" value="Control section">C) External memory
            <br>
            
            <input type="radio" name="q16" value="Control section">D) Cache memory
            non of these<br>
            
            </blockquote>
            
            <p><b>
            
            <hr>
            
            Question 17.
            
            <br>Q.17 Chief component of first generation computer was<br></b>
            
            <blockquote>
            
            <input type="radio" name="q17" value="Vacuum Tubes and Valves">A) Transistors
            <br>
            
            <input type="radio" name="q17" value="Vacuum Tubes and Valves">B) Vacuum Tubes and Valves            
             <br>
            
            <input type="radio" name="q17" value="Vacuum Tubes and Valves">C) Integrated Circuits
            <br>
            
            <input type="radio" name="q17" value="Vacuum Tubes and Valves">D) None of above
            Mistakes are to be learned from. The greatest mistake a person
            can make is to repeat it<br>
            
            </blockquote>
            
            <p><b>
            
            <hr>
            
            Question 18.
            
            <br>Q.18 To produce high quality graphics (hard copy) in color, you
            would want to use a/n<br></b>
            
            <blockquote>
            
            <input type="radio" name="q18" value="Plotter">A) RGB monitor
            <br>
            
            <input type="radio" name="q18" value="Plotter">B) Plotter<br>
            
            <input type="radio" name="q18" value="Plotter">C) Ink-jet printer
            <br>
            
            <input type="radio" name="q18" value="Plotter">D) Laser printer<br>
            
            </blockquote>
            
            <p><b>
            
            <hr>
            Question 19.
            
            <br>Q.19 Which of the following IC was used in third generation of
            computers?<br></b>
            
            <blockquote>
            
            <input type="radio" name="q19" value="Both a and b">A) SSI<br>
            
            <input type="radio" name="q19" value="Both a and b">B) MSI<br>
            
            <input type="radio" name="q19" value="Both a and b">C) LSI<br>
            
            <input type="radio" name="q19" value="Both a and b">D) Both a and b<br>
            
            </blockquote>
            
            <p><b>
            
            <hr>
            Question 20.
            
            <br>Q.20 The main electronic component used in first generation
            computers was<br></b>
            
            <blockquote>
            
            <input type="radio" name="q20" value="Vacuum Tubes and Valves">A) Transistors
            <br>
            
            <input type="radio" name="q20" value="Vacuum Tubes and Valves">B) Vacuum Tubes and Valves
             <br>
            
            
            
            <input type="radio" name="q20" value="Vacuum Tubes and Valves">C) Integrated Circuits
            <br>
            
            
            <input type="radio" name="q20" value="Vacuum Tubes and Valves">D) None of above
            <br>
            
            
            
            </blockquote>
            
            <p><b>
            
            <hr>
            
            <ALIGN="CENTER">
            
            <input type="button"value="SUBMIT"onClick="getScore(this.form);">
            
            <input type="reset" value="RESET"><p>
            
            Number of score out of 20 = <input type= text size 20 name= "mark">
            
            Score in percentage = <input type=text size=20 name="percentage"><br>
            
            </form>
            
            <p>
            
            <form method="post" name="Form" onsubmit="" action="">
            
            </form>
            
            </body>
            
            <script>
            
            var numQues = 20;
            
            var numChoi = 4;
            
            var answers = new Array(15);
            
            answers[0] = "Universal Automatic Computer";
            
            answers[1] = "Both b and c";
            
            answers[2] = "All the above";
            
            answers[3] = "Fourth Generation";
            
            answers[4] = "Supercomputers are focused to execute few programs as fast as possible while mainframe uses its power to execute as many programs concurrently";
            
            answers[5] = "Extended Binary Coded Decimal Interchange Code";
            
            answers[6] = "CPU";
            
            answers[7] = "All of above";
            
            
            answers[8] = "All of above";
            
            answers[9] = "Buffer";
            
            answers[10] = "Diligence45320";
            
            answers[11] = "Third generation";
            
            answers[12] = "None of above";
            
            answers[13] = "Mainframe computers";
            
            answers[14] = "Resembles both a digital and analogue computer";
            
            answers[15] = "Control section";
            
            answers[16] = "Vacuum Tubes and Valves";
            
            answers[17] = "Plotter";
            
            answers[18] = "Both a and b";
            
            answers[19] = "Vacuum Tubes and Valves";
            
            function getScore(form) {
            
            var score = 0;
            
            var currElt;
            
            var currSelection;
            
            for (i=0; i<numQues; i++) {
            
            currElt = i*numChoi;
            
            answered=false;
            
            for (j=0; j<numChoi; j++) {
            
            currSelection = form.elements[currElt + j];
            
            if (currSelection.checked) {
            
            answered=true;
            
            if (currSelection.value == answers[i]) {
            
            score++;
            
            break;
            
            }
            
            }
            
            }
            
            if (answered ===false){alert("Do answer all the questions, Please") ;return false;}
            
            }
            
            var scoreper = Math.round(score/numQues*100);
            
            form.percentage.value = scoreper + "%";
            
            form.mark.value=score;
            
            }
            
            </script>
            </body>
            </html>
   