   
   <%- include('partials/header') %>

   <!-- ========== Section Begins ========== -->

    <section class="sec container mt-5 mb-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-center m-auto d-block">
                    <img src="paytm.jpg" class="h-75 w-75" alt="payment">
                </div>
                <div class="col-sm-6 m-auto">
                    <h1><span class="badge badge-danger">Note:</span></h1>
                    <h5>Dear student you have two payment mode option, either you can pay online via scanning given
                        paytm QR code or
                        you can pay offline at our center. <strong>For any query</strong> contact on the below mentioned
                        address.</h5>
                    <h4 class="text-danger"><strong>After payment through online mode you need to verify your payment by
                            contacting on the below mentioned contact details.</strong></h4>
                    <div class="mt-3">
                        <p><strong>Email:</strong><a href="mailto: somnatheducationinstitute@gmail.com">
                                somnatheducationinstitute@gmail.com</a></p>
                        <p><strong>Contact Number:</strong> 6395267390, 7599960623</p>
                        <p><strong>Address:</strong> Near Virzapur,Mathura, Uttar Pradesh</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <a href="#" class="to-top">
        <i class="fa fa-chevron-up"></i>
    </a>
    
    <%- include('partials/footer') %>
