<%- include('partials/header') %>

  <!-- ========== Section Begins ========== -->

  <section id="registrationform" class="sec">
    <div class="container text-center">
      <h2 class="font-weight-bold text-uppercase container text-center mt-3">Registration Form</h2>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-10 offset-lg-2 offset-1 my-5">

          <form method="POST" action="/registrationForm" enctype="multipart/form-data">
            <div class="form-group">
              <input type="text" class="form-control" id="name" name="firstName" placeholder="Enter your First Name" required>
              <small id="namevalid" class="form-text text-muted invalid-feedback">
                Your name must be 2-10 characters long and should not start with a number
              </small>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" id="name" name="lastName" placeholder="Enter your Last Name" required>
                <small id="namevalid" class="form-text text-muted invalid-feedback">
                  Your name must be 2-10 characters long and should not start with a number
                </small>
              </div>

              <div class="form-group">
                <input type="text" class="form-control" id="name" name="fathersName" placeholder="Enter your Father's Name" required>
                <small id="namevalid" class="form-text text-muted invalid-feedback">
                  Your name must be 2-10 characters long and should not start with a number
                </small>
              </div>

              <div class="form-group">
                <input type="text" class="form-control" id="name" name="mothersName" placeholder="Enter your Mother's Name" required>
                <small id="namevalid" class="form-text text-muted invalid-feedback">
                  Your name must be 2-10 characters long and should not start with a number
                </small>
              </div>

              <div class="input-group mb-3">
                <div class="input-group-append">
                    <label class="input-group-text" for="inputGroupSelect02">Select Course</label>
                  </div>
                <select class="custom-select" id="inputGroupSelect02" name="courseType" required>
                  <option selected>Choose...</option>
                  <option value="Master Diploma in Computer Application(MDCA)">Master Diploma in Computer Application(MDCA)</option>
                  <option value="Diploma in Office Automation,Accounting,Publishing(DOAAP)">Diploma in Office Automation,Accounting,Publishing(DOAAP)</option>
                  <option value="Advance Diploma in Computer Application(ADCA)">Advance Diploma in Computer Application(ADCA)</option>
                  <option value="Desktop Publishing(DTP)">Desktop Publishing(DTP)</option>
                  <option value="Basic Computer Course">Basic Computer Course</option>
                  <option value="Diploma in Computer Application">Diploma in Computer Application</option>
                  <option value="Advance Diploma in Computer Hardware and Networking">Advance Diploma in Computer Hardware and Networking</option>

                  <option value="Advance Diploma in Computer Hardware and Networking">Excel Course only Rs 1000/-</option>
                  <option value="Advance Diploma in Computer Hardware and Networking">Ms word course only Rs 500/-</option>
                  <option value="Advance Diploma in Computer Hardware and Networking">Ms powerpoint course only Rs 500/-</option>

                  <option value="Basic Computer Course">Certificate in office Automation (COA) 3 Months</option>
                  <option value="Basic Computer Course">Certificate in Information Technology (CIT) 3 Months</option>
                  <option value="Basic Computer Course">Certificate in Financial Accounting ( CFA) 3 Months</option>
                  <option value="Basic Computer Course">Certificate in Computer fundamental & Application ( CCA) 3 Months
                    6 Months Course</option>
                  <option value="Basic Computer Course">Diploma in Computer Application ( DCA) 6 months</option>
                  <option value="Basic Computer Course">Diploma in Programming and Web Designing ( PDWD) 6 months</option>
                  <option value="Basic Computer Course">Certificate in Computer Science or Computer Application (CCS/CCA) 6 months</option>
                  <option value="Basic Computer Course">Diploma in Basic Programming (DBP) 6 months</option>
                  <option value="Basic Computer Course">Diploma In Digital Marketing 6 Months</option>
                  <option value="Basic Computer Course">Tally ERP 9 with GST (6 Months or 144 Hrs)1 Year Courses</option>
                  <option value="Basic Computer Course">Post Graduate Diploma in Software Technology ( PGDST) 1 Year</option>
                  <option value="Basic Computer Course">Master Diploma in Software Technology (MDST) 1 Year</option>
                  <option value="Basic Computer Course">Advance Diploma in Computer Programming (ADCP) 1 Year</option>
                  <option value="Basic Computer Course">Advance Diploma in Computer Application ADCA 1 Year</option>
                  <option value="Basic Computer Course">Adv. Dip. In Computer Application & programming (ADCAP) 1 Year</option>
                  <option value="Basic Computer Course">Diploma in Office Management & Accounting ( DOMA) Or *Advance Diploma in Financial Accounting (ADFA) 1 Year</option>
                  <option value="Basic Computer Course">Diploma In Secretarial Practice & Publishing (DSPP) 1 Year</option>
                  <option value="Basic Computer Course">Master Certificate in Information Technology ( MCIT) 1 year</option>
                  <option value="Basic Computer Course">Web Designing and Development 1 year</option>
                  <option value="Basic Computer Course">Advance Diploma in Computer Programming & Publishing (ADCPP) (18 Months)</option>
                  <option value="Basic Computer Course">ADSE Advance Diploma in Software)18th Months</option>
                  <option value="Basic Computer Course">Advance Diploma in Information Technology (ADIT) (2 Years)</option>
                  <option value="Basic Computer Course">Desktop Publishing (DTP) 120 Hrs</option>
                  <option value="Basic Computer Course">Diploma in DOT NET Technology 200 Hrs</option>
                  <option value="Basic Computer Course">Diploma in JAVA Programming 200 Hrs</option>
                  <option value="Basic Computer Course">Diploma In Software Engineering 520 Hrs</option>
                  <option value="Basic Computer Course">Diploma In Goods And Services Tax (30 to 50 Hrs)</option>
                  <option value="Basic Computer Course">Web Designing/Graphic Designing/UI UX Designing</option>
                  <option value="Basic Computer Course">SEO/SEM</option>
                  <option value="Basic Computer Course">Software Testing</option>
                  <option value="Basic Computer Course">Objective oriented programming, C, C++</option>
                </select>
              </div>

              <div class="form-group">
                <input type="date" class="form-control" id="dob" name="dateOfBirth" placeholder="Select your Date of Birth" required>
              </div>

              <div class="form-group">
                <span><strong>Gender:&nbsp;</strong></span>
                <label class="radio-inline"><input type="radio" name="optradio" checked value="Male" >Male</label>
                &nbsp;&nbsp;
                <label class="radio-inline"><input type="radio" name="optradio" value="Female">Female</label>
              </div>


            <div class="form-group">
              <input type="email" class="form-control" id="email" name="emailAddress" placeholder="Enter your email" required>
              <small id="emailvalid" class="form-text text-muted invalid-feedback">
                Your email must be a valid email
              </small>
            </div>


            <div class="form-group">
              <input class="form-control" placeholder="Enter your phone number" name="phoneNumber" id="phone" required>
              <small id="emailvalid" class="form-text text-muted invalid-feedback">
                Your phone number must be 10 digit long
              </small>
            </div>


            <div class="form-group">
                <textarea class="form-control" placeholder="Enter your Address" name="address" id="exampleFormControlTextarea1"
                  rows="2" required></textarea>
              </div>
  
              <div class="form-group">
                <input type="number" class="form-control" placeholder="Enter your Area Pin Code" name="pinCode" id="pin code" required>
              </div>
  
              <div class="form-group">
                <input type="text" class="form-control" id="district" placeholder="Enter your District" name="district" required>
              </div>
  
              <div class="form-group">
                <input type="text" class="form-control" id="state" placeholder="Enter your State" name="state" required>
              </div>


            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Upload Xth Marksheet</span>
                </div>

                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile01" name="tenthMarksheet" required>
                  <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
                <small style="color: red;">
                  *** Only png,pdf,jpg,jpeg file are supported. Max file size: 200 KB
                </small>
              </div>
              <div id="file-upload-filename"></div>

              <!-- <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Upload Adhar Card</span>
                </div>
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile01" name="aadharCard">
                  <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Upload Photo</span>
                </div>
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile01" name="profilePhoto">
                  <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
              </div> -->

            <div class="contactbutton">
              <button type="submit" class="btn mt-3 btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <a href="#" class="to-top">
    <i class="fa fa-chevron-up"></i>
  </a>

<script>
  var input = document.getElementById( 'inputGroupFile01' );
  var infoArea = document.getElementById( 'file-upload-filename' );

  input.addEventListener( 'change', showFileName );

  function showFileName( event ) { 
    var input = event.srcElement;
    var fileName = input.files[0].name;
    infoArea.textContent = 'File name: ' + fileName;
  }
</script>

<%- include('partials/footer') %>