<%- include('partials/header') %>

 <!-- ========== Section Begins ========== -->

 <section class="sec">

    <div class="jumbotron container mt-5 mb-5">
      <h1 class="display-4 text-success">Register Successfull!</h1>
      <p class="lead">Check your E-mail for Confirmation.</p>
      <hr class="my-4">
        <a class="btn btn-primary cardbutton btn-lg" href="/payment-mode" role="button">Proceed for Payment</a>
    </div>
    
    </section>
    
    <a href="#" class="to-top">
            <i class="fa fa-chevron-up"></i>
    </a>

<%- include('partials/footer') %>