
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


h2 {
  font-family: 'Open Sans', sans-serif;
}

h2::after {
  content: "";
  display: block;
  margin: 10px auto 20px;
  background: #1c1f54;
  height: 3px;
  width: 170px;
}

.sec {
  height: auto;
  width: 100%;
}

li{
  font-family: 'Open Sans';
}

      /* ------------------------------ Pre Loader ---------------------------- */
     /* ---------------------------------------------------------------------- */
            
     .loader_bg{
      position: fixed;
      z-index: 9999999999999;
      background: #fff;
      width: 100%;
      height: 100%;
    }
    .loader{
      border: 0 solid transparent;
      border-radius: 50%;
      width: 150px;
      height: 150px;
      position: absolute;
      top: calc(50vh - 75px);
      left: calc(50vw - 75px);
    }
    .loader::before, .loader::after{
     content: '';
     border: 1em solid #ff5733;
     border-radius: 50%;
     width: inherit;
     height: inherit;
     position: absolute;
     top: 0;
     left: 0;
     animation: loader 2s linear infinite;
     opacity: 0; 
    }
    .loader::before{
      animation-delay: .5s;
    }
    @keyframes loader{
      0%{
        transform: scale(0);
        opacity: 0;
      }
      50%{
        opacity: 1;
      }
      100%{
        transform: scale(1);
        opacity: 0;
      }
    }
     
    /* ------------------------------- To Up Arrow ---------------------------------------- */
      /* ----------------------------------------------------------------------------------- */
      .to-top{
        z-index: 9999999999999;
        background: #1c1f54;
        position: fixed;
        bottom: 16px;
        right: 32px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        text-decoration: none;
        opacity: 0;
        pointer-events: none;
        transition: all .4s;
      }
      .to-top.active{
        bottom: 33px;
        pointer-events: auto;
        opacity: 1;
      }

/* =========================== Home page ========================= */

nav img {
  position: absolute;
  left: 5%;
  top: -5px;
  height: 68px;
  width: 80px;
}

.navbar {
  background-color: #1c1f54 !important;
}

.navhover:hover {
  background-color: white;
  color: #1c1f54 !important;
}


/* .bgimage {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(11, 14, 15, 0.6)), url('/frontbg.jpg') no-repeat center center fixed;
  opacity: 0.9;
  background-size: 100% 100%;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

/* .welcome {
  line-height: 4.5rem;
  font-size: 3.5rem;
  font-family: 'ubuntu';
} */

/* .landingpagetext {
  position: relative;
  top: 30%;
} */

/* ============================= About Us ========================== */

#aboutus {
  background-image: url(/aboutusbg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: 'Open Sans';
}
.paragraph {
  font-size: .9rem;
  font-weight: 400;
  color: #606060;
  font-family: 'Baloo Da 2';
}

/* ================================ Courses =============================== */

.education-training{
  font-family: 'Raleway', sans-serif;
}

.cardtitle{
  background-color: #1c1f54;
  color: white;
}
.cardbutton{
  border-color: #1c1f54;
  background-color: white;
  color: #1c1f54;
}
.cardbutton:hover{
  background-color: #1c1f54;
  color: white;
}


.cards{
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
}

.cards:hover{
   transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

/* ======================= Photo Gallary ========================= */

.pic1:after {
  content:"";
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:linear-gradient(rgba(7, 110, 212, 0.1), rgb(33, 37, 41, 0.4)) rgba(0,0,0,0.6);
}

.carousel-content {
  position: absolute;
  bottom: 50%;
  left: 8%;
  z-index: 20;
  color: white;
}

.line1 {
  font-family: 'ubuntu';
  margin: 30px auto;
  border-right: 3px solid rgba(255, 255, 255, 0.75);
  font-size: 55px;
  font-weight: bolder;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

.line2 {
  font-size: 30px;
  position: relative;
  left: 50%;
}

.admission-open{
  font-family: 'ubuntu';
  position: absolute;
  top: 130%;
  left: 70%;
  width: 300px;
}

.anim-typewriter {
  animation: typewriter 4s steps(40) 1s 1 normal both,
  blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter{
  from {
        width: 0;
  }
  to {
        width: 20em;
  }
}

@keyframes blinkTextCursor {
  from {
        border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
        border-right-color: transparent;
  }
}


/* ======================== Contact Us ====================== */

.contactbutton {
  display: flex;
  align-items: center;
  justify-content: center;

}

.contactbutton button {
  border-color: #1c1f54;
  background-color: white;
  color: black;
  margin-top: -15px;
  border-radius: 15px;
}

.contactbutton button:hover {
  background-color: #1c1f54;
  color: white;
  border-color: transparent;

}

::placeholder {
  font-style: italic;
}

/* ========================= Footer ====================== */

i {
  color: white;
  background: transparent;
  padding: 5px;
}
li{
  list-style-type: none;
}
footer{
  background-color: #1c1f54 !important;
   position: relative;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  color: white;
  text-align: center;
  margin-bottom: 0px !important;
}

/* =============== media queries ================== */

/* @media(min-width:992px) {}

@media(min-width:768px) and (max-width:991px) {}

@media(min-width:575px) and (max-width:767px) {}

@media(min-width:480px) and (max-width:574px) {} */

@media(min-width: 300px) and (max-width: 349px) {

  .carousel-content {
    position: absolute;
    top: 13%;
    left: 4%;
    z-index: 20;
    color: white;
  }

  .line1 {
    font-family: 'ubuntu';
    margin: 30px auto;
    border-right: 3px solid rgba(255, 255, 255, 0.75);
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
  }
  
  .line2 {
    font-size: 10px;
    position: relative;
    left: 23%;
    top: 80%;
  }

  .admission-open{
    font-family: 'ubuntu';
    position: absolute;
    top: 130%;
    left: 30%;
    width: 200px;
    font-size: 15px;
  }
}

@media(min-width: 350px) and (max-width: 400px) {

  .carousel-content {
    position: absolute;
    bottom: 50%;
    left: 5%;
    z-index: 20;
    color: white;
  }

  .line1 {
    font-family: 'ubuntu';
    margin: 30px auto;
    border-right: 3px solid rgba(255, 255, 255, 0.75);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
  }
  
  .line2 {
    font-size: 14px;
    position: relative;
    left: 10%;
  }

  .admission-open{
    font-family: 'ubuntu';
    position: absolute;
    top: 100%;
    left: 25%;
    width: 200px;
    font-size: 15px;
  }
}

@media(min-width: 401px) and (max-width: 449px) {

  .carousel-content {
    position: absolute;
    bottom: 50%;
    left: 6%;
    z-index: 20;
    color: white;
  }

  .line1 {
    font-family: 'ubuntu';
    margin: 30px auto;
    border-right: 3px solid rgba(255, 255, 255, 0.75);
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
  }
  
  .line2 {
    font-size: 14px;
    position: relative;
    left: 12%;
  }

  .admission-open{
    font-family: 'ubuntu';
    position: absolute;
    top: 100%;
    left: 25%;
    width: 200px;
    font-size: 15px;
  }
}

@media(min-width: 450px) and (max-width: 500px) {

  .carousel-content {
    position: absolute;
    bottom: 50%;
    left: 7%;
    z-index: 20;
    color: white;
  }

  .line1 {
    font-family: 'ubuntu';
    margin: 30px auto;
    border-right: 3px solid rgba(255, 255, 255, 0.75);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
  }
  
  .line2 {
    font-size: 15px;
    position: relative;
    left: 16%;
  }

  .admission-open{
    font-family: 'ubuntu';
    position: absolute;
    top: 100%;
    left: 33%;
    width: 190px;
    font-size: 15px;
  }
}

@media(min-width: 501px) and (max-width: 599px) {

  .carousel-content {
    position: absolute;
    bottom: 50%;
    left: 9%;
    z-index: 20;
    color: white;
  }

  .line1 {
    font-family: 'ubuntu';
    margin: 30px auto;
    border-right: 3px solid rgba(255, 255, 255, 0.75);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
  }
  
  .line2 {
    font-size: 16px;
    position: relative;
    left: 20%;
  }

  .admission-open{
    font-family: 'ubuntu';
    position: absolute;
    top: 100%;
    left: 38%;
    width: 190px;
    font-size: 15px;
  }
}

@media(min-width:600px) and (max-width: 749px) {

  .carousel-content {
    position: absolute;
    bottom: 50%;
    left: 8%;
    z-index: 20;
    color: white;
  }

  .line1 {
    font-family: 'ubuntu';
    margin: 30px auto;
    border-right: 3px solid rgba(255, 255, 255, 0.75);
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
  }
  
  .line2 {
    font-size: 16px;
    position: relative;
    left: 32%;
  }

  .admission-open{
    font-family: 'ubuntu';
    position: absolute;
    top: 100%;
    left: 40%;
    width: 250px;
    font-size: 25px;
  }
}

@media(min-width:750px) and (max-width: 899px) {

  .carousel-content {
    position: absolute;
    bottom: 50%;
    left: 7%;
    z-index: 20;
    color: white;
  }

  .line1 {
    font-family: 'ubuntu';
    margin: 30px auto;
    border-right: 3px solid rgba(255, 255, 255, 0.75);
    font-size: 33px;
    font-weight: bolder;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
  }
  
  .line2 {
    font-size: 20px;
    position: relative;
    left: 35%;
  }

  .admission-open{
    font-family: 'ubuntu';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 250px;
    font-size: 25px;
  }
}

@media(min-width:900px) and (max-width: 1049px) {

  .carousel-content {
    position: absolute;
    bottom: 50%;
    left: 8%;
    z-index: 20;
    color: white;
  }

  .line1 {
    font-family: 'ubuntu';
    margin: 30px auto;
    border-right: 3px solid rgba(255, 255, 255, 0.75);
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
  }
  
  .line2 {
    font-size: 25px;
    position: relative;
    left: 33%;
  }

  .admission-open{
    font-family: 'ubuntu';
    position: absolute;
    top: 100%;
    left: 58%;
    width: 250px;
    font-size: 25px;
  }
}

@media(min-width:1050px) and (max-width: 1200px) {

  .carousel-content {
    position: absolute;
    bottom: 50%;
    left: 9%;
    z-index: 20;
    color: white;
  }

  .line1 {
    font-family: 'ubuntu';
    margin: 30px auto;
    border-right: 3px solid rgba(255, 255, 255, 0.75);
    font-size: 45px;
    font-weight: bolder;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
  }
  
  .line2 {
    font-size: 27px;
    position: relative;
    left: 38%;
  }

  .admission-open{

    font-family: 'ubuntu';
    position: absolute;
    top: 100%;
    left: 60%;
    width: 250px;
    font-size: 25px;
  }
}

/* @media(max-width: 575px) {}
@media(min-width:330px) and (max-width:352px) {}
@media(min-width:353px) and (max-width:501px) {} */


/* =================================== Other  .html files ================================== */

.courseheading{
  position: relative;
  margin-top: 4rem !important;
  background-color: #1c1f54;
  color: white;
}

#myImg {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 6px;
  width: 150px;
}

#myImg:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
