<%- include('../partials/header') %>
<!-- 
<section class="sec container mb-5">
  <div class="card d-block m-auto">
    <a class="btn btn-primary" href="/login">Login is required</a>
  </div>
</section> -->


<div class="col-lg-4 col-md-6 col-sm-6 col-12 d-block m-auto ">
  <div class="card cards mt-5 mb-5 ">
    <div class="card-body">
      <div class="cardtitle">
        <h1 class="text-capitalize font-weight-bold card-title text-center bg-danger" style="font-family: 'ubuntu';">OOP's !!  😟 </h1>
      </div>
      <br><br><br>

      <div class="text-center">
        <a class="btn btn-primary cardbutton text-center" href="/login">Login is required</a>
      </div>

    </div>
  </div>
</div>

<%- include('../partials/footer') %>