<!-- 
  <section class="sec mt-5 mb-5">
    <h2 class="card-title text-center">Free Mock Test</h2>
  </section>

  <a href="#" class="to-top">
    <i class="fa fa-chevron-up"></i>
  </a> -->

  <!DOCTYPE html>
  <html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width-device-width" initial-scale="0">
  <meta http-equiv="X-UA-Compatible" content="ie-edge">
  </head><title>web site</title>
  <linl rel="stylesheet" href="css/style.css"></linl>
  
      <H1>
              <U><H1 ALIGN="CENTER">
              <FONT COLOR="ORANGE">SOMNATH EDUCATION INSTITUTE</FONT><br>
              <FONT COLOR="ORANGE">PAPER TIME : 60 min</FONT><br>
              <img src="good.png"  width="150"  height="125"></image>
               <FONT SIZE="4"></FONT></U>
              </H1>
              <H2>
              <!-- This Script is from www.htmlfreecode.com, Coded by: Krishna Eydat-->
              <center>
              <font face="Arial"><b>TIME <br><br>
              <form>
              <input type="text" size="3" id="timer" name="redirect2" value="5">
              </form>
              seconds</b></font>
              </center>
              
              <script>
                 
                  
                  var targetURL="http://www.htmlfreecode.com"
                  
                  var currentsecond=1200;
                  function countredirect(){
                  if (currentsecond!=1){
                  currentsecond-=1
                  document.getElementById('timer').value=currentsecond;
                  }
                  else{
                  window.location=targetURL;
                  return
                  }
                  setTimeout("countredirect()",1000)
                  }
                  
                  countredirect();
                  //-->
                  </script>
              <!--webbot bot="HTMLMarkup" endspan --></p>
          </head>
          <body>
              
              
              <font face="Tahoma"><a target="_blank" href="#/"><span style="font-size: 8pt; text-decoration: none"></span></a></font>
              </H2>
              <body>
              
              <center><h1></h1></center>
              <center><h1>MCQ CCC TEST</h1></center>
              
              <p>
              
              <form name="quiz">
              
              <p>
              
              <b>Question 1.
              
              <br>Q.1. From which generation operating systems were developed?<br></b>
              
              <blockquote>
              
              <input type="radio" name="q1" value="Third">A) First<br>
              
              <input type="radio" name="q1" value="Third">B) Second<br>
              
              <input type="radio" name="q1" value="Third">C) Third<br>
              
              <input type="radio" name="q1" value="Third">D) Fourth<br>
              
              </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 2.
              
              <br>Q.2. The first firm to mass-market a microcomputer as a
              personal computer was<br></b>
              
              <blockquote>
              
              <input type="radio" name="q2" value="Radio Shaks">A) IBM<br>
              
              <input type="radio" name="q2" value="Radio Shaks">B) Super UNIVAC<br>
              
              <input type="radio" name="q2" value="Radio Shaks">C) Radio Shaks<br>
              
              <input type="radio" name="q2" value="Radio Shaks">D) Data General Corporation<br>
              
              </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 3.
              
              <br>Q.3 How many address lines are needed to address each
              machine location in a 2048 x 4 memory chip?<br></b>
              
              <blockquote>
              
              <input type="radio" name="q3" value="11">A) 10<br>
              
              <input type="radio" name="q3" value="11">B) 11<br>
              
              <input type="radio" name="q3" value="11">C) 8<br>
              
              <input type="radio" name="q3" value="11">D) 12<br>
              
              
              </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 4.
              
              <br>Q.4 Properly arranged data is called<br></b>
              
              <blockquote>
              
              <input type="radio" name="q4" value="Information">A) Field<br>
              
              <input type="radio" name="q4" value="Information">B) Words<br>
              
              <input type="radio" name="q4" value="Information">C) Information<br>
              
              <input type="radio" name="q4" value="Information">D) File<br>
              
              
              </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 5.
              
              <br>Q.5 A computer consists of<br></b>
              
              <blockquote>
              
              <input type="radio" name="q5" value="All of the above">A) A central processing unit<br>
              
              <input type="radio" name="q5" value="All of the above">B) A memory<br>
              
              <input type="radio" name="q5" value="All of the above">C) Input and output unit<br>
              
              <input type="radio" name="q5" value="All of the above">D) All of the above<br>
              
              </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 6.
              
              <br>Q.6 John Napier invented Logarithm in<br></b>
              
              <blockquote>
              
              <input type="radio" name="q6" value="1614">A) 1614<br>
              
              <input type="radio" name="q6" value="1614">B) 1617<br>
              
              <input type="radio" name="q6" value="1614">C) 1620<br>
              
              <input type="radio" name="q6" value="1614">D) None of above<br>
              
              
              </blockquote>
              
              <p><b>
              
              Question 7.
              
              <br>Q.7 If in a computer, 16 bits are used to specify address in a
              RAM, the number of addresses will be<br></b>
              
              <blockquote>
              
              <input type="radio" name="q7" value="65,536">A) 216<br>
              
              <input type="radio" name="q7" value="65,536">B) 65,536<br>
              
              <input type="radio" name="q7" value="65,536">C) 64K<br>
              
              <input type="radio" name="q7" value="65,536">D) Any of the above<br>
              
              </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 8.
              
              <br>Q.8 An integrated circuit is<br></b>
              
              <blockquote>
              
              <input type="radio" name="q8" value="Fabricated on a tiny silicon chip">A) A complicated circuit<br>
              
              <input type="radio" name="q8" value="Fabricated on a tiny silicon chip">B) An integrating device<br>
              
              <input type="radio" name="q8" value="Fabricated on a tiny silicon chip">C) Much costlier than a single transistor<br>
              
              <input type="radio" name="q8" value="Fabricated on a tiny silicon chip">D) Fabricated on a tiny silicon chip<br>
              
              </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 9.
              
              <br>Q.9 What type of control pins are needed in a microprocessor
              to regulate traffic on the bus, in order to prevent two devices
              from trying to use it at the same time?<br></b>
              
              <blockquote>
              
              <input type="radio" name="q9" value="Bus arbitration">A) Bus control<br>
              
              <input type="radio" name="q9" value="Bus arbitration">B) Interrupts<br>
              
              <input type="radio" name="q9" value="Bus arbitration">C) Bus arbitration<br>
              
              <input type="radio" name="q9" value="Bus arbitration">D) Status<br>
              
              </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 10.
              
              <br>Q.10 Where as a computer mouse moves over the table surface,
              the trackball is<br></b>
              
              <blockquote>
              
              <input type="radio" name="q10" value="Stationary">A) Stationary<br>
              
              <input type="radio" name="q10" value="Stationary">B) Difficult to move<br>
              
              <input type="radio" name="q10" value="Stationary">C) Dragged<br>
              
              <input type="radio" name="q10" value="Stationary">D) Moved in small steps<br>
              
              
              </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 11.
              
              <br>Q.11 Which of the following is used as a primary storage device?<br></b>
              
              <blockquote>
              
              <input type="radio" name="q11" value="Magnetic drum">A) Magnetic drum<br>
              
              <input type="radio" name="q11" value="Magnetic drum">B) Hard Disks<br>
              
              <input type="radio" name="q11" value="Magnetic drum">C) Floppy<br>
              
              <input type="radio" name="q11" value="Magnetic drum">D) All of above<br>
              
              
              
              </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 12.
              
              <br>Q.12 The ability of an OS to run more than one application at a time is called.<br></b>
              
              <blockquote>
              
              <input type="radio" name="q12" value="Multitasking">a) Multitasking<br>
              
              <input type="radio" name="q12" value="Multitasking">b) Object Oriented Programming<br>
              
              <input type="radio" name="q12" value="Multitasking">c) Multi-use Computing<br>
              
              <input type="radio" name="q12" value="Multitasking">d) Time sharing<br>
              
              
              
              </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 13.
              
              <br>Q.13.You can use the ____________ bar to type URL and display a Web page, or type a keyword to display a list of related Web pages.<br></b>
              
              <blockquote>
              
              <input type="radio" name="q13" value="Address">a) Menu<br>
              
              <input type="radio" name="q13" value="Address">b) Title<br>
              
              <input type="radio" name="q13" value="Address">c) Search<br>
              
              <input type="radio" name="q13" value="Address">e) Address<br>
              
              
              </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 14.
              
              <br>Q.14 Which part interprets program instructions and initiate control operations?<br></b>
              
              <blockquote>
              
              <input type="radio" name="q14" value=" Control unit">a) Input<br>
              
              <input type="radio" name="q14" value=" Control unit">b) Storage unit<br>
              
              <input type="radio" name="q14" value=" Control unit">C) Control unit<br>
              
              <input type="radio" name="q14" value=" Control unit">D) Logic unit<br>
              
              </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 15.
              
              <br>Q.15 The components that process data are located in the-<br></b>
              
              <blockquote>
              
              <input type="radio" name="q15" value="System unit">A) input devices<br>
              
              <input type="radio" name="q15" value="System unit">B) Output devices<br>
              
              <input type="radio" name="q15" value="System unit">C) Storage component<br>
           
              <input type="radio" name="q15" value="System unit">D) System unit<br>
               </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 16.
              
              <br>Q.16 _________ cells involves creating a single cells by combining two or more selected cells.<br></b>
              
              <blockquote>
              
              <input type="radio" name="q16" value="Merging">A)formatting<br>
            
              
              <input type="radio" name="q16" value="Merging">B) Merging<BR>
              
              <input type="radio" name="q16" value="Merging">C) Embedding
              <br>
              
              <input type="radio" name="q16" value="Merging">D) Splitting<br>
              
              </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 17.
              
              <br>Q.17 A device that connects to a network without the use of cable is said to be<br></b>
              
              <blockquote>
              
              <input type="radio" name="q17" value="wireless">A)  distributed
              <br>
              
              <input type="radio" name="q17" value="wireless">B) non-wired            
               <br>
              
              <input type="radio" name="q17" value="wireless">C) centralized
              <br>
              
              <input type="radio" name="q17" value="wireless">D) wireless<br>
              
              </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 18.
              
              <br>Q.18 A program designed to destroy data on your computer which can travel to "infect" other computers is called a<br></b>
              
              <blockquote>
              
              <input type="radio" name="q18" value="virus">A) disease
              <br>
              
              <input type="radio" name="q18" value="virus">B) torpedo<br>
              
              <input type="radio" name="q18" value="virus">C) virus
              <br>
              
              <input type="radio" name="q18" value="virus">D) infector<br>
              
              </blockquote>
              
              <p><b>
              
              <hr>
              Question 19.
              
              <br>Q.19 Which was the most popular first generation computer?<br></b>
              
              <blockquote>
              
              <input type="radio" name="q19" value="IBM 1650">A) IBM 1650<br>
              
              <input type="radio" name="q19" value="IBM 1650">B) IBM 360<br>
              
              <input type="radio" name="q19" value="IBM 1650">C) IBM 1130<br>
              
              <input type="radio" name="q19" value="IBM 1650">D) IBM 2700<br>
              
              </blockquote>
              
              <p><b>
              
              <hr>
              Question 20.
              
              <br>Q.20 You organise files by storing them in<br></b>
              
              <blockquote>
              
              <input type="radio" name="q20" value="Portions of the operating system are copied from disk into memory">A)Portions of the operating system are copied from disk into memory.
              <br>
              
              <input type="radio" name="q20" value="Portions of the operating system are copied from disk into memory">B) Portions of the operating system are copied from memory onto disk
               <br>
              
              
              
              <input type="radio" name="q20" value="Portions of the operating system are copied from disk into memory">C) Portions of the operating system are compiled.
              <br>
              
              
              <input type="radio" name="q20" value="Portions of the operating system are copied from disk into memory">D) The PC gets switched off
              <br>
              
              
              
          </blockquote>
  
          <p><b>
              
              <hr>
              
              Question 21.
              
              <br>Q.21. What type of computers are client computers (most of the time) in a client-server system?<br></b>
              
              <blockquote>
              
              <input type="radio" name="q21" value="Mainframe">A) Mainframe<br>
              
              <input type="radio" name="q21" value="Mainframe">B) Mini-computer<br>
              
              <input type="radio" name="q21" value="Mainframe">C) Microcomputer<br>
              
              <input type="radio" name="q21" value="Mainframe">D) PDA<br>
              
              </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 22.
              
              <br>Q.22 Removing and replacing devices without turning off your computer is referred to as<br></b>
              
              <blockquote>
              
              <input type="radio" name="q22" value="Plug-n-Play">A) Hot swapping<br>
              
              <input type="radio" name="q22" value="Plug-n-Play">B) Plug-n-Play<br>
              
              <input type="radio" name="q22" value="Plug-n-Play">C) Bay swap<br>
              
              <input type="radio" name="q22" value="Plug-n-Play">D) USB swapping<br>
              
              
              </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 23.
              
              <br>Q.23 To protect yourself from computer hacker intrusions you should install a<br></b>
              
              <blockquote>
              
              <input type="radio" name="q23" value="firewall">A) firewall<br>
              
              <input type="radio" name="q23" value="firewall">B) mailer<br>
              
              <input type="radio" name="q23" value="firewall">C) macro<br>
              
              <input type="radio" name="q23" value="firewall">D) script<br>
              
              
              </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 24.
              
              <br>Q.24 To view information on the Web you must have a _____________.<br></b>
              
              <blockquote>
              
              <input type="radio" name="q24" value="Web browser">A) cable modem<br>
              
              <input type="radio" name="q24" value="Web browser">B) Web browser<br>
              
              <input type="radio" name="q24" value="Web browser">C) domain name server<br>
              
              <input type="radio" name="q24" value="Web browser">D) All of the above<br>
              
              </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 25.
              
              <br>Q.25 The computers of second generation were characterized by the use of which of the following instead of vaccum tubes ?<br></b>
              
              <blockquote>
              
              <input type="radio" name="q25" value="Transistors">A) Silicon chip<br>
              
              <input type="radio" name="q25" value="Transistors">B) Transistors<br>
              
              <input type="radio" name="q25" value="Transistors">C) Both 1 & 2<br>
              
              <input type="radio" name="q25" value="Transistors">D) Integrated circuits<br>
              
              
              </blockquote>
              
              <p><b>
              
              Question 26.
              
              <br>Q.26 The first transistorized computer was built at ________________.<br></b>
              
              <blockquote>
              
              <input type="radio" name="q26" value="University of Manchester">A) Babylonia<br>
              
              <input type="radio" name="q26" value="University of Manchester">B) Bell labs<br>
              
              <input type="radio" name="q26" value="University of Manchester">C) University of Manchester<br>
              
              <input type="radio" name="q26" value="University of Manchester">D) Germany<br>
              
              </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 27.
              
              <br>Q.27 The computer's capability of distinguishing spoken words is called ____________.<br></b>
              
              <blockquote>
              
              <input type="radio" name="27" value="Voice recognition">A) Voice analysis<br>
              
              <input type="radio" name="27" value="Voice recognition">B) Voice recognition<br>
              
              <input type="radio" name="27" value="Voice recognition">C) Speech acknowlegement<br>
              
              <input type="radio" name="q27" value="Voice recognition">D) Speech interpretation<br>
              
              </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 28.
              
              <br>Q.28 To access a mainframe or super computer, users often use a.<br></b>
              
              <blockquote>
              
              <input type="radio" name="q28" value="Desktop">A) Terminal<br>
              
              <input type="radio" name="q28" value="Desktop">B) Node<br>
              
              <input type="radio" name="q28" value="Desktop">C) Desktop<br>
              
              <input type="radio" name="q28" value="Desktop">D) Hand held<br>
              
              </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 29.
              
              <br>Q.29 A device for changing the connection on a connector to a different configuration is ___________.<br></b>
              
              <blockquote>
              
              <input type="radio" name="q29" value="An adapter">A) A converter<br>
              
              <input type="radio" name="q29" value="An adapter">B) A component<br>
              
              <input type="radio" name="q29" value="An adapter">C) An attachment<br>
              
              <input type="radio" name="q29" value="An adapter">D) An adapter<br>
              
              
              </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 30.
              
              <br>Q.30 CD and DVD drives are examples of<br></b>
              
              <blockquote>
              
              <input type="radio" name="q30" value="Storage devices">A)Coding media<br>
              
              <input type="radio" name="q30" value="Storage devices">B) Printers<br>
              
              <input type="radio" name="q30" value="Storage devices">C) Zip drives<br>
              
              <input type="radio" name="q30" value="Storage devices">D) Storage devices<br>
              
              
              
              </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 31.
              
              <br>Q.31 The part of a computer that co-ordinates all its functions is called its ____________.<br></b>
              
              <blockquote>
              
              <input type="radio" name="q31" value="Control Unit">a) Rom program<br>
              
              <input type="radio" name="q31" value="Control Unit">b) Control Unit<br>
              
              <input type="radio" name="q31" value="Control Unit">c) System board<br>
              
              <input type="radio" name="q31" value="Control Unit">d) Arithmetic logic unit<br>
              
              
              
              </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 32.
              
              <br>Q.32.You can use the ____________ bar to type URL and display a Web page, or type a keyword to display a list of related Web pages.<br></b>
              
              <blockquote>
              
              <input type="radio" name="q32" value="Address">a) Menu<br>
              
              <input type="radio" name="q32" value="Address">b) Title<br>
              
              <input type="radio" name="q32" value="Address">c) Search<br>
              
              <input type="radio" name="q32" value="Address">e) Address<br>
              
              
              </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 33.
              
              <br>Q.33 Which part interprets program instructions and initiate control operations?<br></b>
              
              <blockquote>
              
              <input type="radio" name="q33" value=" Control unit">a) Input<br>
              
              <input type="radio" name="q33" value=" Control unit">b) Storage unit<br>
              
              <input type="radio" name="q33" value=" Control unit">C) Control unit<br>
              
              <input type="radio" name="q33" value=" Control unit">D) Logic unit<br>
              
              </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 34.
              
              <br>Q.34 Which of the following is not a telecommunication equipment ?<br></b>
              
              <blockquote>
              
              <input type="radio" name="q34" value="Hub">A) Modem<br>
              
              <input type="radio" name="q34" value="Hub">B) Fax Machine<br>
              
              <input type="radio" name="q34" value="Hub">C) Tele-printer<br>
           
              <input type="radio" name="q34" value="Hub">D) Hub<br>
               </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 35.
              
              <br>Q.35 Computer networking devices are also called as ___________.<br></b>
              
              <blockquote>
              
              <input type="radio" name="q35" value="Inter working unit">A)Inter working unit<br>
            
              
              <input type="radio" name="q35" value="Inter working unit">B) System equipment<BR>
              
              <input type="radio" name="q35" value="Inter working unit">C)Projectors
              <br>
              
              <input type="radio" name="q35" value="Inter working unit">D) Software<br>
              
              </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 36.
              
              <br>Q.36 ASCII stands for ______________.<br></b>
              
              <blockquote>
              
              <input type="radio" name="q36" value="American standard code for Information Interchange">A)  American special computer for Information Interaction
              <br>
              
              <input type="radio" name="q36" value="American standard code for Information Interchange">B) American standard computer for Information Interchange            
               <br>
              
              <input type="radio" name="q36" value="American standard code for Information Interchange">C) American standard code for Information Interchange
              <br>
              
              <input type="radio" name="q36" value="American standard code for Information Interchange">D) American special code for Information Interaction<br>
              
              </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 37.
              
              <br>Q.37 A program written in a high level language is referred to as :<br></b>
              
              <blockquote>
              
              <input type="radio" name="q37" value="Source code">A) Source code
              <br>
              
              <input type="radio" name="q37" value="Source code">B) Object code<br>
              
              <input type="radio" name="q37" value="Source code">C) Machine code
              <br>
              
              <input type="radio" name="q37" value="Source code">D) Assembly code<br>
              
              </blockquote>
              
              <p><b>
              
              <hr>
              Question 38.
              
              <br>Q.38 Computer language used on Internet is ___________.<br></b>
              
              <blockquote>
              
              <input type="radio" name="q38" value="Java">A) Pascal<br>
              
              <input type="radio" name="q38" value="Java">B) Java<br>
              
              <input type="radio" name="q38" value="Java">C) LOGO<br>
              
              <input type="radio" name="q38" value="Java">D) BASIC<br>
              
              </blockquote>
              
              <p><b>
              
              <hr>
              Question 39.
              
              <br>Q.39 Which of the following is not a programming language of a computer.<br></b>
              
              <blockquote>
              
              <input type="radio" name="q39" value="LASER">A)BASIC
              <br>
              
              <input type="radio" name="q39" value="LASER">B) FORTRAN
               <br>
              
              
              
              <input type="radio" name="q39" value="LASER">C) LASER
              <br>
              
              
              <input type="radio" name="q39" value="LASER">D) PASAL
              <br>
              
              
              
          </blockquote>
              
          <p><b>
              
              <hr>
              
              Question 40.
              
              <br>Q.40. Which of the following operating systems is not owned and licensed by a company ?<br></b>
              
              <blockquote>
              
              <input type="radio" name="q40" value="Unix">A)Linux<br>
              
              <input type="radio" name="q40" value="Unix">B) Mac<br>
              
              <input type="radio" name="q40" value="Unix">C) Unix<br>
              
              <input type="radio" name="q40" value="Unix">D) Windows 2000<br>
              
              </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 41.
              
              <br>Q.41 The UNIX, which command is used to display the message or value of any variable on the screen.<br></b>
              
              <blockquote>
              
              <input type="radio" name="q41" value="Echo">A) Cat<br>
              
              <input type="radio" name="q41" value="Echo">B) Echo<br>
              
              <input type="radio" name="q41" value="Echo">C) Display<br>
              
              <input type="radio" name="q41" value="Echo">D) Char<br>
              
              
              </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 42.
              
              <br>Q.42 The first electronic computer ENIAC was able to do how many multiplications per second ?<br></b>
              
              <blockquote>
              
              <input type="radio" name="q42" value="300">A) 200<br>
              
              <input type="radio" name="q42" value="300">B) 400<br>
              
              <input type="radio" name="q42" value="300">C) 300<br>
              
              <input type="radio" name="q42" value="300">D) 500<br>
              
              
              </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 43.
              
              <br>Q.43 Which of the following is related with persons associated with computing process ?<br></b>
              
              <blockquote>
              
              <input type="radio" name="q43" value="Software">A) Hardware<br>
              
              <input type="radio" name="q43" value="Software">B) Software<br>
              
              <input type="radio" name="q43" value="Software">C) Firmware<br>
              
              <input type="radio" name="q43" value="Software">D) Humanware<br>
              
              </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 44.
              
              <br>Q.44 A device that connects multiple network segments along the data link layer is called as _________.<br></b>
              
              <blockquote>
              
              <input type="radio" name="q44" value="Bridge">A) Multiplexer<br>
              
              <input type="radio" name="q44" value="Bridge">B) Modem<br>
              
              <input type="radio" name="q44" value="Bridge">C) Bridge<br>
              
              <input type="radio" name="q44" value="Bridge">D) Hub<br>
              
              
              </blockquote>
              
              <p><b>
              
              Question 45.
              
              <br>Q.45 A programmer that converts a high level language source file into a machine language file is called a _________.<br></b>
              
              <blockquote>
              
              <input type="radio" name="q45" value="Linker">A) Translator<br>
              
              <input type="radio" name="q45" value="Linker">B) Assembler<br>
              
              <input type="radio" name="q45" value="Linker">C) Compiler<br>
              
              <input type="radio" name="q45" value="Linker">D) Linker<br>
              
              </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 46.
              
              <br>Q.46 Most application software today come with an interface called __________________.<br></b>
              
              <blockquote>
              
              <input type="radio" name="q46" value="Graphical User interface">A) Graphical User interface<br>
              
              <input type="radio" name="q46" value="Graphical User interface">B) Character user interface<br>
              
              <input type="radio" name="q46" value="Graphical User interface">C)Iron user interface<br>
              
              <input type="radio" name="q46" value="Graphical User interface">D) Button user interface<br>
              
              </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 47.
              
              <br>Q.47 Which of the following was an early desktop operating systems that included an integrated graphic user interface point-and-click features ?<br></b>
              
              <blockquote>
              
              <input type="radio" name="q47" value="Mac OS">A) MS-DOS<br>
              
              <input type="radio" name="q47" value="Mac OS">B) Mac OS<br>
              
              <input type="radio" name="q47" value="Mac OS">C) UNIX<br>
              
              <input type="radio" name="q47" value="Mac OS">D) Gnome<br>
              
              </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 48.
              
              <br>Q.48 Microsoft Windows came to dominate the World's personal Computer Market with ___________% market share.<br></b>
              
              <blockquote>
              
              <input type="radio" name="q48" value="90%">A) 65%<br>
              
              <input type="radio" name="q48" value="90%">B) 82%<br>
              
              <input type="radio" name="q48" value="90%">C) 91%<br>
              
              <input type="radio" name="q48" value="90%">D) 90%<br>
              
              
              </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 49.
              
              <br>Q.49 What types of keys are 'Ctrl' and 'Shift' ?<br></b>
              
              <blockquote>
              
              <input type="radio" name="q49" value="modifier">A) adjustment<br>
              
              <input type="radio" name="q49" value="modifier">B) Function<br>
              
              <input type="radio" name="q49" value="modifier">C) modifier<br>
              
              <input type="radio" name="q49" value="modifier">D) Alphanumeric<br>
              
              
              
              </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 50.
              
              <br>Q.50 In which tool bar we will find short button for "Auto Sum" ?<br></b>
              
              <blockquote>
              
              <input type="radio" name="q50" value="Formula Bar">a) Formatting Bar<br>
              
              <input type="radio" name="q50" value="Formula Bar">b)Standard Bar<br>
              
              <input type="radio" name="q50" value="Formula Bar">c) Clipboard Bar<br>
              
              <input type="radio" name="q50" value="Formula Bar">d) Formula Bar<br>
              
              
              
              </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 51.
              
              <br>Q.51.In order to move from one work sheet to another in excel work book, which of the following should be clicked ?<br></b>
              
              <blockquote>
              
              <input type="radio" name="q51" value="Sheet tab">a) Active cell<br>
              
              <input type="radio" name="q51" value="Sheet tab">b) Scroll bar<br>
              
              <input type="radio" name="q51" value="Sheet tab">c) Sheet tab<br>
              
              <input type="radio" name="q51" value="Sheet tab">e) Tab buttom<br>
              
              
              </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 52.
              
              <br>Q.52 In which chart, only one data series can be plotted ?<br></b>
              
              <blockquote>
              
              <input type="radio" name="q52" value="Stacked bar">a) Pie<br>
              
              <input type="radio" name="q52" value="Stacked bar">b) Line<br>
              
              <input type="radio" name="q52" value="Stacked bar">C) Stacked bar<br>
              
              <input type="radio" name="q52" value="Stacked bar">D) embedded<br>
              
              </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 53.
              
              <br>Q.53 Material consisting of text and numbers is best presented as ____________.<br></b>
              
              <blockquote>
              
              <input type="radio" name="q53" value="a table slide">A) a table slide<br>
              
              <input type="radio" name="q53" value="a table slide">B) a bullet slide<br>
              
              <input type="radio" name="q53" value="a table slide">C) a title slide<br>
           
              <input type="radio" name="q53" value="a table slide">D) a structure slide<br>
               </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 54.
              
              <br>Q.54 Coded entries which are used to gain access to a computer system are called<br></b>
              
              <blockquote>
              
              <input type="radio" name="q54" value="Passwords">A)Entry codes<br>
            
              
              <input type="radio" name="q54" value="Passwords">B)Passwords<BR>
              
              <input type="radio" name="q54" value="Passwords">C) Code words
              <br>
              
              <input type="radio" name="q54" value="Passwords">D) Security commands<br>
              
              </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 55.
              
              <br>Q.55 Which of the following is an example for first generation computers ?<br></b>
              
              <blockquote>
              
              <input type="radio" name="q55" value="Both 2 & 3s">A) IBM 1401
              <br>
              
              <input type="radio" name="q55" value="Both 2 & 3">B) IBM 650            
               <br>
              
              <input type="radio" name="q55" value="Both 2 & 3">C) IBM 702
              <br>
              
              <input type="radio" name="q55" value="Both 2 & 3">D) Both 2 & 3<br>
              
              </blockquote>
              
              <p><b>
              
              <hr>
              
              Question 56.
              
              <br>Q.56 Which of the following was the world's first electronic programmable computing device ?<br></b>
              
              <blockquote>
              
              <input type="radio" name="q56" value="Colossus">A) ENIAC
              <br>
              
              <input type="radio" name="q56" value="Colossus">B) Model K<br>
              
              <input type="radio" name="q56" value="Colossus">C) Colossus
              <br>
              
              <input type="radio" name="q56" value="Colossus">D) Curta<br>
              
              </blockquote>
              
              <p><b>
              
              <hr>
              Question 57.
              
              <br>Q.57 In a computer most processing takes place in ____________.<br></b>
              
              <blockquote>
              
              <input type="radio" name="q57" value="CPU">A) Memory<br>
              
              <input type="radio" name="q57" value="CPU">B) CPU<br>
              
              <input type="radio" name="q57" value="CPU">C) RAM<br>
              
              <input type="radio" name="q57" value="CPU">D) Mother board<br>
              
              </blockquote>
              
              <p><b>
              
              <hr>
              Question 58.
              
              <br>Q.58 What type of software is most useful for the creation of brouchers, posters and news letters ?<br></b>
              
              <blockquote>
              
              <input type="radio" name="q58" value="Desktop publishing software">Spread sheet software
              <br>
              
              <input type="radio" name="q58" value="Desktop publishing software">B) web authorising software
               <br>
              
              
              
              <input type="radio" name="q58" value="Desktop publishing software">C) Multimedia authorising software
              <br>
              
              
              <input type="radio" name="q58" value="Desktop publishing software">D) Desktop publishing software
              <br>
              
              
              
          </blockquote>
  
          <p><b>
              
              <hr>
              
              Question 59.
              
              <br>Q.59 When the computer is switched on, the booting process performs the ____________.<br></b>
              
              <blockquote>
              
              <input type="radio" name="q59" value="Power-on self Test">A)Integrity Test
              <br>
              
              <input type="radio" name="q59" value="Power-on self Test">B) Power-on self Test<br>
              
              <input type="radio" name="q59" value="Power-on self Test">C) Correct functioning Test
              <br>
              
              <input type="radio" name="q59" value="Power-on self Test">D) Reliability Test<br>
              
              </blockquote>
              
              <p><b>
              
              <hr>
              Question 60.
              
              <br>Q.60.The box that contains the central electronic components of the computer is?<br></b>
              
              <blockquote>
              
              <input type="radio" name="q60" value="System Unit">A) Mother board<br>
              
              <input type="radio" name="q60" value="System Unit">B) System Unit<br>
              
              <input type="radio" name="q60" value="System Unit">C) Peripheral<br>
              
              <input type="radio" name="q60" value="System Unit">D) Input device<br>
              
              </blockquote>
              
              <p><b>
              
              <hr>
              
  
              
         
              <ALIGN="CENTER">
              
              <input type="button"value="SUBMIT"onClick="getScore(this.form);">
              
              <input type="reset" value="RESET"><p>
              
              Number of score out of 60 = <input type= text size 60 name= "mark">
              
              Score in percentage = <input type=text size=60 name="percentage"><br>
              
              </form>
              
              <p>
              
              <form method="post" name="Form" onsubmit="" action="">
              
              </form>
              
              </body>
              
              <script>
              
              var numQues = 60;
              
              var numChoi = 4;
              
              var answers = new Array(15);
              
              answers[0] = "Third";
              
              answers[1] = "Radio Shaks";
              
              answers[2] = "11";
              
              answers[3] = "Information";
              
              answers[4] = "All of the above";
              
              answers[5] = "Because they can stop or allow the flow of current";
              
              answers[6] = "1614";
              
              answers[7] = "Fabricated on a tiny silicon chip";
              
              
              answers[8] = "Bus arbitration";
              
              answers[9] = "Stationary";
              
              answers[10] = "Magnetic drum";
              
              answers[11] = "Multitasking";
              
              answers[12] = "Address";
              
              answers[13] = "Control unit";
              
              answers[14] = "System unit";
              
              answers[15] = "Merging";
              
              answers[16] = "wireless";
              
              answers[17] = "virus";
              
              answers[18] = "IBM 1650";
              
              answers[19] = "Portions of the operating system are copied from disk into memory";
              
              answers[20] = "Mainframe";
  
              answers[20] = "Plug-n-Play";
  
              answers[21] = "firewall";
  
              answers[22] = "Web browser";
  
              answers[23] = "Integrated circuits";
  
              answers[24] = "University of Manchester";
  
              answers[25] = "Voice recognition";
  
              answers[26] = "Desktop";
  
              answers[27] = "An adapter";
  
              answers[28] = "Storage devices";
  
              answers[29] = "Control Unit";
  
              answers[30] = "Hub";
  
              answers[31] = "Inter working unit";
  
              answers[32] = "American standard code for Information Interchange";
  
              answers[33] = "Source code";
  
              answers[34] = "Java";
  
              answers[35] = "LASER";
  
              answers[36] = "Unix";
  
              answers[37] = "Echo";
  
              answers[38] = "300";
  
              answers[39] = "Software";
  
              answers[40] = "Bridge";
  
              answers[41] = "Linker";
  
              answers[42] = "Graphical User interface";
  
              answers[43] = "Mac OS";
  
              answers[44] = "90%";
              
              answers[45] = "modifier";
  
              answers[46] = "Formula Bar";
  
              answers[47] = "Sheet tab";
  
              answers[48] = "Stacked bar";
  
              answers[49] = "a table slide";
  
              answers[50] = "Passwords";
  
              answers[51] = "Both 2 & 3";
  
              answers[51] = "Colossus";
  
              answers[52] = "CPU";
  
              answers[53] = "Desktop publishing software";
  
              answers[54] = "Power-on self Test";
  
              answers[55] = "System Unit";
  
              
  
              function getScore(form) {
              
              var score = 0;
              
              var currElt;
              
              var currSelection;
              
              for (i=0; i<numQues; i++) {
              
              currElt = i*numChoi;
              
              answered=false;
              
              for (j=0; j<numChoi; j++) {
              
              currSelection = form.elements[currElt + j];
              
              if (currSelection.checked) {
              
              answered=true;
              
              if (currSelection.value == answers[i]) {
              
              score++;
              
              break;
              
              }
              
              }
              
              }
              
              if (answered ===false){alert("Do answer all the questions, Please") ;return false;}
              
              }
              
              var scoreper = Math.round(score/numQues*100);
              
              form.percentage.value = scoreper + "%";
              
              form.mark.value=score;
              
              }
              
              </script>
              </body>
              </html>
     