<%- include('../partials/header-home') %>



<section class="sec container mb-5">


    <div class="card d-block m-auto">
        <a class="btn btn-primary" href="/login">Login is required</a>
    </div>
  </section>









<%- include('../partials/footer-home') %>