<%- include('../partials/header') %>

  <!-- ========== Section Begins ========== -->

<section class="sec">
    <div class="courseheading container mt-5 text-center">
        <h3 class="text-capitalize" style="font-family: 'ubuntu';">advance diploma in computer application(ADCA) <br> duration: 12 months</h3>
        <h6><i class="fa fa-circle"></i><small>Start from Basics, become a ADCA Master!</small><i class="fa fa-circle"></i></h6>
      </div>
      <br>

      <h2 class="card-title text-center">Course Outcome</h2>

      <div class="container">
        <h6 class="card-title m-3"><strong>SEMESTER 1:</strong></h6>
        <ul class="card-text">
          <li class="text-capitalize">Computer Concept & Fundamentals</li>
          <li class="text-capitalize">Microsoft Office-2010/2007</li>
          <li class="text-capitalize">Tally</li>
          <li class="text-capitalize">Basic Financial Accounting</li>
          <li class="text-capitalize">GST,VAT & TDS</li>
          <li class="text-capitalize">Email & Internet Technology</li>
          <li class="text-capitalize">Computer Networking Concept</li>
          <li class="text-capitalize">computer mupti-media concept</li>

          <h6 class="card-title m-3"><strong>SEMESTER 2:</strong></h6>

          <li class="text-capitalize">Photoshop</li>
          <li class="text-capitalize">pagemaker</li>
          <li class="text-capitalize">corel draw</li>
          <li class="text-capitalize">typing(English)</li>
          <li class="text-capitalize">typing(Hindi)</li>
          <li class="text-capitalize">PC assembling/installion(Window & Linux)</li>
          <li class="text-capitalize">C & C++ programming</li>
          <li class="text-capitalize">HTML</li>
        </ul>

          <div class="text-center">
            <a href="/registration-form"  class="btn text-center cardbutton btn-primary">Register</a>
          </div>
      </div>
      

</section>
   
<a href="#" class="to-top">
  <i class="fa fa-chevron-up"></i>
</a> 


  
<br><br>


<%- include('../partials/footer') %>
