<%- include('../partials/header') %>

  <!-- ========== Section Begins ========== -->

<section class="sec">
    <div class="courseheading container mt-5 text-center">
        <h3 class="text-capitalize" style="font-family: 'ubuntu';">advance diploma in computer hardware & Networking(ADCHN)</h3>
        <h6><i class="fa fa-circle"></i>Start from Basics, become a ADCHN Master!<i class="fa fa-circle"></i></h6>
      </div>
      <br>

      <h2 class="card-title text-center">Course Outcome</h2>

      <div class="container">
        <h6 class="card-title m-3"><strong>SEMESTER 1:</strong></h6>
        <ul class="card-text">
          <li class="text-capitalize">analog electronics</li>
          <li class="text-capitalize">digital electronics</li>
          <li class="text-capitalize">operating system</li>
          <li class="text-capitalize">DOS windows(xp/7/10)</li>
          <li class="text-capitalize">linux</li>
          <li class="text-capitalize">micro processors</li>
          <li class="text-capitalize">hard disk drives</li>
          <li class="text-capitalize">intallion & assembling</li>

          <h6 class="card-title m-3"><strong>SEMESTER 2:</strong></h6>

          <li class="text-capitalize">power supply (SMPS & UPS)</li>
          <li class="text-capitalize">networking</li>
          <li class="text-capitalize">internet</li>
          <li class="text-capitalize">HTML</li>
          <li class="text-capitalize">XHTML</li>
        </ul>
        
          <div class="text-center">
            <a href="/registration-form"  class="btn text-center cardbutton btn-primary">Register</a>
          </div>
      </div>
</section>
   
<a href="#" class="to-top">
  <i class="fa fa-chevron-up"></i>
</a> 

  
<br><br>


<%- include('../partials/footer') %>