<%- include('../partials/header') %>

  <!-- ========== Section Begins ========== -->
<section class="sec">
    <div class="courseheading container mt-5 text-center">
        <h3 class="text-capitalize" style="font-family: 'ubuntu';">Other Courses</h3>
        <h6><i class="fa fa-circle"></i>Start from Basics, and be a Master in these courses!<i class="fa fa-circle"></i></h6>
      </div>
      <br>

      <div class="container">
        <ul class="card-text">
            <li class="text-capitalize">web designing only Rs.10000/-</li>
            <li class="text-capitalize">web development only Rs.16500/-</li>
            <li class="text-capitalize">basic courses only Rs.2000/-</li>
            <li class="text-capitalize">html course only Rs.1000/-</li>
            <li class="text-capitalize">corel draw course only Rs.1000/-</li>
            <li class="text-capitalize">photoshop course only Rs.1000/-</li>
            <li class="text-capitalize">TALLY ERP.9 course only Rs.3000/-</li>
            <li class="text-capitalize">CCC course nielit only Rs.2500/-</li>
            <li class="text-capitalize">"O"level nielit only Rs.18000/-</li>
            <li class="text-capitalize">Excel Course only Rs 1000/-</li>
            <li class="text-capitalize">Ms word course only Rs 500/-</li>
            <li class="text-capitalize">Ms powerpoint course only Rs 500/-</li>
          </ul>

        
          <div class="text-center">
            <a href="/registration-form"  class="btn text-center cardbutton btn-primary">Register</a>
          </div>
      </div>
      

</section>

<a href="#" class="to-top">
  <i class="fa fa-chevron-up"></i>
</a>

<br><br>


<%- include('../partials/footer') %>